#comparativo table{
    border-spacing: 0;
    width: 100%;
}
#comparativo table tr td{
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
}
#comparativo table tr td.descricao{
    font-size: 14px;
}
#comparativo table tr td.status{
    text-align: center;
    font-weight: bolder;
    width: 86px;
}

#precos{
    margin-top: 30px;
}
#precos #precos-tabela{
    text-align: center;
    margin: 10px 0;
}
#precos .caixa-preco{
    display: inline-block;
    width: 25%;
    min-width:200px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 20px;
}

#precos .caixa-preco.caixa-preco-left{
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#precos .caixa-preco.caixa-preco-center{
    box-shadow: 1px #ccc;
    /*z-index: 2;*/
    -moz-box-shadow: 0 0 3.7px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 0 3.7px rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 3.7px rgba(0, 0, 0, 0.19);
    border:3px #FDB813 solid;
    /*position: relative;*/
    margin: 0 -5px;
    border-radius: 5px;
    padding: 30px 20px;
    
}
#precos .caixa-preco.caixa-preco-right{
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.caixa-preco .precos-periodo{
    border-bottom: 1px dashed #ccc;
    padding: 20px 0;
    text-align: center;
    font-size: 26px;
    color: #555;
}
.caixa-preco-center  .precos-periodo{
}

.precos-periodo.t{border-top-left-radius: 5px;}
.precos-periodo.s{border-top-right-radius: 5px;}

.caixa-preco .precos-valor{
    font-size: 12px;
    text-align: center;
    padding: 40px 0;
}
.caixa-preco .precos-valor span{
    font-size: 30px;
    color: #666;
}

.caixa-preco .precos-economize{
    color: #666;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.caixa-preco .precos-economize span{
    color: #666;
    font-size: 16px;
}

.caixa-preco .precos-total{
    color: #666;
    font-size: 20px;
    text-align: center;
    padding: 30px 0 0 0;
}

.precos-pagar{
    text-align: center;
    padding: 30px 0 0 0 ;
}
.precos-pagar form{
    margin: 0;
}

.precos-desconto1{
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: #666;
}
.precos-desconto2{
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    color: #666;
    border-top: 1px solid #eee;
}


#formas-pagamento{
    margin: 30px 0;
}