.qq-uploader { position:relative; width: 100%;}

.qq-upload-drop-area {
   padding: 10px;
   background: #E2EAEF;
   margin: 10px 0 ;
   
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
}
.qq-upload-drop-area span {
    display:block;
    font-size: 14px;
    font-weight: bold;
}
.qq-upload-drop-area-active {border: 1px solid #e2e2e2;}


.qq-upload-list {margin:15px 35px; padding:0; list-style:none; }
.qq-upload-list li { margin:0; padding:0; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../1libs/uploading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline; color: red;}