/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
    /*width: 100%;*/
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
.jcarousel-prev, .jcarousel-next {
    /*position: absolute;*/
    /*top: 200px;*/
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
    line-height: 28px;
    margin-left: 10px;
}
.jcarousel-prev:hover, .jcarousel-next:hover{
    text-decoration: none;
    color: #FFF;
}